<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>{{cushion.title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="/css/style.css" type="text/css">
		<script type="text/javascript" src="/js/ipsum.js"></script>
	</head>
	<body>
		<div>
			<div class="container">
				<div id="sidebar">
					<a href="/" class="center">
						<h1 id="title">
							{{cushion.title}}
						</h1>
					</a>
				</div>
			</div>
		</div>